.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    outline: 1px solid #333;
    outline-offset: -5px;
    box-sizing: border-box;    
}

.container:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}

.container:not(:hover) {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.image {
    width: 250px;
    height: 100px;
    object-fit: contain;
    padding: 15px 15px 0;
}

.label {
    margin: 0;
    text-align: center;    
}

.link {
    color: black;
    text-decoration: none;
}