.mainNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    min-height: 50px;
    background-color: olive;
    color: white;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.mainNavBtn:hover {
    background-color: rgba(218, 219, 219, 0.805);
}

.secNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: darkslategray;
    color: white;
    border: none;
    border-bottom: 1px solid black;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;  
}

.listElem {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.listElem:hover .secNavBtn{
    background-color: rgba(47, 79, 79, 0.90);
}

.containerEnter {
    overflow: hidden;
    max-height: 0;
}

.containerEnterActive {
    max-height: 100vh;
    transition: max-height 700ms ease-in-out;
}

.containerActiveDone {
    max-height: 100vh;
}

.containerExit {
    max-height: 100vh;
}

.containerExitActive {
    overflow: hidden;
    max-height: 0;
    transition: max-height 700ms ease-in-out;
}
