.table {
    border: 3px solid black;
    border-collapse: collapse;    
}

.table tr:nth-child(odd) {
    background-color: wheat;
}

.table tr:nth-child(even) {
    background-color: grey;
}

.table td {
    padding: 5px;
    border: 1px solid black;
}