.navigationBackground {
    background-color: olive;
    height: 100vh;    
}

.navigationBox {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    justify-content: flex-start;
}

.listElem {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}