.contentBox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
    width: 1620px;
    height: 100vh;
    background: linear-gradient(90deg, #dfd4b0, #e2d8b7);
    box-sizing: border-box; 
}